<div class="container-fluid"> 
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">ユーザー情報編集</h3>
				</div>
				<div class="panel-body">
					<%= form_for(@user) do |f| %>
					<div class="field">
						<%= f.text_field :name, placeholder:"名前" %>
					</div>
					<div class="field">
						<%= f.text_area :profile, placeholder:"自己紹介" %>
					</div>
					<%= f.attachment_field :user_image %>
				</div>
				<div class="actions">
					<%= f.submit "保存",class: "btn btn-primary" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<style>
	.panel-default {
		margin: 50px 0;
	}
	.panel-body {
		margin-top: 10px;
	}
	.logintext {
		line-height: 1.5;
	}
	.field {
		margin: 10px 0;
	}
	.actions {
		padding-bottom: 10px;
	}
}
</style>
