<div class="container text-center" id="modal">
	<button type="button" class="btn btn-default mt-5" data-toggle="modal" data-target="#post">投稿する</button>
	<div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<%= form_for(post) do |f| %>
				<div class="modal-body">
					<p>タイトル</p>
					<%= f.text_field :post_title, size: "70x1" %>
					<p>テキスト</p>
					<%= f.text_area :post_text, size: "70x8"  %>
					<p>画像</p>
					<%= f.attachment_field :post_image,class: "center-block" %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					<%= f.submit "投稿する", class: "btn btn-primary" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
