<div class="container">
  <div class="raw">
    <div class="col-md-3 col-md-offset-1 well">
      follow
    </div>
    <div class="col-md-4 well">
      tree
    </div>
    <div class="col-md-3 well">
      current_user
      <%= form_for(@post) do |f| %>
      <p>名前</p>
      <%= f.text_field :post_title %>
      <p>profile</p>
      <%= f.text_area :post_text %>
      <p>image</p>
      <%= f.attachment_field :post_image %>
      <p>sound</p>
      <%= f.attachment_field :post_sound %>
      <%= f.submit '保存' %>    
      <% end %>
    </div>
  </div>
</div>
