<div class="container-fluid allview">
  <div class="raw">
    <div class="col-md-8 col-md-offset-2">
      <!-- modal -->
      <%= render 'posts/postmodal', post: @post %>
      <!-- /modal -->
      <% @posts.each do |post| %>
      <ul class="list-group">
        <li class="list-group-item">
          <%= attachment_image_tag post.user, :user_image, :fill, 50, 50, fallback:"no_image.jpg" %><%= link_to post.post_title,post_path(post.id) %><br>
          by <%= link_to post.user.name, user_path(post.user.id) %>
          <%= time_ago_in_words(post.created_at) %> ago 
          reply : <%= post.replies.count %>
          favorite : <%= post.favorites.count %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>