<div class="container-fluid bg-green">
  <div class="raw">
    <!-- modal -->
    <%= render 'posts/postmodal', post: @post %>
    <!-- /modal -->
    <div class="col-md-8 col-md-offset-2">
      <% @search_posts.each do |post| %>
      <ul class="list-group">
        <li class="list-group-item">
          <%= attachment_image_tag post.user, :user_image, :fill, 60, 60 %>
          <strong><%= link_to post.post_title,post_path(post.id) %></strong>
          <p class="text-right">
            <% if current_user.admin? %>
              <%= link_to "delete", post_path(post.id), method: :delete, class: "btn btn-danger" %>
            <% end %>
            <i class="fas fa-reply"></i> <%= post.replies.count %>
            <i class="fas fa-heart"></i> <%= post.favorites.count %>
            by <%= link_to post.user.name, user_path(post.user.id) %>
            <%= post.created_at.strftime('%Y/%m/%d %H:%M') %> ( <%= time_ago_in_words(post.created_at) %> ago )
          </p>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<style> 
  #modal {
    margin-bottom: 20px;
  }
  .text-left {
    margin-left: 65px;
  }
</style>