<div class="container-fluid"> 
	<% if flash[:notice] %>
	<p id="flash"> <%= flash[:notice] %></p>
	<% end %>
	<div class="raw">
		<div class="col-md-10 col-md-offset-1 notspillout">
			<h2 class="text-center" style="color:#ffffff;"><%= @post.post_title %></h2>		
		</div>
		<div class="col-md-1" id="headbutton">
			<!--modal-->
			<%= render 'posts/replymodal', post: @post, reply: @reply %>
			<!--/modal-->
			<%= link_to 'ツイート', "https://twitter.com/share?url=#{request.url}&text=#{@post.post_title}", title: 'Twitter', target: '_blank',class: "btn btn-primary fab fa-twitter" %>
			<!--fav-->
			<% if @post.favorited_by?(current_user) %>
			<%= link_to post_favorites_path(@post), method: :delete do %>
			<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-heart" aria-hidden="true"><%= @post.favorites.count %> いいね!</i></button>
			<% end %>
			<% else %>
			<%= link_to post_favorites_path(@post), method: :post do %>
			<button type="button" class="btn btn-info btn-sm"><i class="fa fa-heart" aria-hidden="true"></i><%= @post.favorites.count %> いいね!</i></button>
			<% end %>
			<% end %>
			<!--/fav-->
		</div>
		<% @replies.each do |reply| %>
		<% if @post.user != reply.user %>
		<!--other_user_reply-->
		<div class="col-md-10 col-md-offset-1" id="contentsbox">
			<div class="col-md-5 well">
				<div class="notspillout">
					<p id="posttitle"><%= reply.reply_title %></p>
					<%= attachment_image_tag reply, :reply_image, :fill, 436, 436 %>
					<p id="posttext"><%= reply.reply_text %></p>
					<%= link_to user_path(reply.user.id) do %>
					<%= attachment_image_tag reply.user, :user_image, :fill, 50, 50 %>
					<% end %>
					<%= link_to reply.user.name,user_path(reply.user.id) %>
					<p class="text-right"><%= reply.created_at.strftime('%Y/%m/%d %H:%M') %> ( <%= time_ago_in_words(reply.created_at) %> ago )</p>
				</div>
			</div>
		</div>
		<!--/other_user_reply-->
		<% else %>
		<!--@post.user_reply-->
		<div class="col-md-10 col-md-offset-1" id="contentsbox">
			<div class="col-md-5 col-md-offset-7 well">
				<div class="notspillout">
					<p id="posttitle"><%= reply.reply_title %></p>
					<%= attachment_image_tag reply, :reply_image, :fill, 436, 436 %>
					<p id="posttext"><%= reply.reply_text %></p>
					<%= link_to user_path(reply.user.id) do %>
					<%= attachment_image_tag reply.user, :user_image, :fill, 50, 50 %>
					<% end %>
					<%= link_to reply.user.name, user_path(reply.user.id)%>
					<p class="text-right"><%= reply.created_at.strftime('%Y/%m/%d %H:%M') %> ( <%= time_ago_in_words(reply.created_at) %> ago )</p>
				</div>
			</div>
		</div>
		<!--/@post.user_reply-->
		<% end %>
		<% end %>
		<!--first_post-->
		<div class="col-md-10 col-md-offset-1" id="contentsbox">
			<div class="col-md-5 col-md-offset-7 well">
				<div class="notspillout">
					<p id="posttitle"><%= @post.post_title %></p>
					<div class="notspillout">
						<span class="btn btn-default"><%= raw(@post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></span>
					</div>
					<%= attachment_image_tag @post, :post_image, :fill, 436, 436 %>
					<p id="posttext"><%= @post.post_text %></p>
					<div>
						<%= link_to user_path(@post.user.id) do %>
						<%= attachment_image_tag @post.user, :user_image, :fill, 50, 50 %>
						<% end %>
						<%= link_to @post.user.name, user_path(@post.user.id)%>
					</div>
					<div class="pull-right">
						<% if current_user.admin? || current_user == @post.user %>
						<span class="button">
							<%= link_to "edit",edit_post_path(@post.id), class: "btn-sm btn-warning" %>
							<%= link_to "delete", post_path(@post.id), method: :delete, data: {confirm: "消去しますか?"}, class: "btn-sm btn-danger" %>
						</span>
						<% end %>
						<span><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %> ( <%= time_ago_in_words(@post.created_at) %> ago )</span>
					</div>
				</div>
			</div>
		</div>
		<!--/first_post-->
	</div>
</div>
<div class="container-fluid">
	<div class="raw">
		<div class="col-md-10 col-md-offset-1">
			<!--comment-->
			<% @post.comments.each do |comment| %>
			<div class="well commentform">
				<%= link_to user_path(comment.user.id) do %>
				<%= attachment_image_tag comment.user, :user_image, :fill, 40, 40 %>
				<% end %>
				<%= comment.comment_text %>
				<p class="text-right">
					by <%= link_to comment.user.name,user_path(comment.user.id) %>
					<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %> ( <%= time_ago_in_words(comment.created_at) %> ago )
				</p>
			</div>
			<% end %>
			<%= form_for [@post, @comment] do |f| %>
			<%= f.text_area :comment_text, rows:'1', class: "form-control commentform",placeholder: "コメントをここに" %>
			<%= f.submit "コメントを投稿", class: "btn btn-default center-block" %>
			<% end %>
			<!--/comment-->
		</div>
	</div>
</div>